# Notes:
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Operating system (build VM template)
os: Visual Studio 2017

environment:  
  major: 1
  minor: 0
  patch: 0


# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf true
  - ps: |
      $isCI = $Env:APPVEYOR_REPO_TAG -ne $true
      $isBranch = $Env:APPVEYOR_REPO_BRANCH -ne 'master'
      $branchSuffix = "$(if ($isBranch) { '-' + $Env:APPVEYOR_REPO_BRANCH } else { '' })"
      $Env:VersionPrefix = "$($Env:major).$($Env:minor).$($Env:APPVEYOR_BUILD_NUMBER)"
      $Env:VersionSuffix = "$(if ($isCI) { 'CI' + $branchSuffix } else { '' })"
      appveyor UpdateBuild -Version "$($Env:VersionPrefix)$(if ($Env:VersionSuffix -ne '') { '-' } else { '' })$($Env:VersionSuffix)"

#---------------------------------#
#       build configuration       #
#---------------------------------#

# build Configuration, i.e. Debug, Release, etc.
configuration: Release

# scripts to run before build
before_build:
  - nuget restore

build:
  verbosity: minimal               # MSBuild verbosity level

cache:
  - packages -> **\packages.config

assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: $(major).$(minor).$(patch).0
  assembly_file_version: $(VersionPrefix)
  assembly_informational_version: '{version}'

nuget:
  project_feed: true
  disable_publish_on_pr: true


#---------------------------------#
#       tests configuration       #
#---------------------------------#

test_script:
  - ps: '&"$($env:APPVEYOR_BUILD_FOLDER)\packages\xunit.runner.console*\tools\xunit.console.exe" "$($env:APPVEYOR_BUILD_FOLDER)\SharpEssentials.Tests.Unit\bin\$($env:CONFIGURATION)\SharpEssentials.Tests.Unit.dll" -parallel none -appveyor'


#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  - path: '**\$(APPVEYOR_PROJECT_NAME).$(APPVEYOR_BUILD_VERSION).nupkg'
  - path: '**\$(APPVEYOR_PROJECT_NAME).$(APPVEYOR_BUILD_VERSION).symbols.nupkg'


#---------------------------------#
#     deployment configuration    #
#---------------------------------#

deploy:
  # Deploying to NuGet feed
  - provider: NuGet
    on:
      appveyor_repo_tag: true
    server: # nuget.org
    api_key:
      secure: MD0elo1aBPjhlWEc8wb7obFowwHimaZ+I1fEscOXpTckpHLZFmi4MOHrgyRteF/2
    skip_symbols: false
    symbol_server: # SymbolSource.org
    artifact: '$(APPVEYOR_PROJECT_NAME).$(APPVEYOR_BUILD_VERSION).nupkg'