# Notes:
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
#version: 1.0.{build}

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Operating system (build VM template)
os: Visual Studio 2017

environment:  
  major: 1
  minor: 0


# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf true
  - ps: |
      $Env:VersionPrefix = "$($Env:major).$($Env:minor).$($Env:APPVEYOR_BUILD_NUMBER)"
      $Env:VersionSuffix = "$(if ($Env:APPVEYOR_REPO_BRANCH -ne 'master') { $Env:APPVEYOR_REPO_BRANCH } else { '' })"
      $Env:VersionDelimiter = "$(if ($Env:VersionSuffix -ne '') { '-' } else { '' })"
      appveyor UpdateBuild -Version "$($Env:VersionPrefix)$($Env:VersionDelimiter)$($Env:VersionSuffix)"

#---------------------------------#
#       build configuration       #
#---------------------------------#

# build Configuration, i.e. Debug, Release, etc.
configuration: Release

# scripts to run before build
before_build:
  - nuget restore

build:
  verbosity: minimal               # MSBuild verbosity level

cache:
  - packages -> **\packages.config

#assembly_info:
#  patch: true
#  file: '**\AssemblyInfo.*'
#  assembly_version: '$($Env:major).$($Env:minor).$($Env:patch)'
#  assembly_file_version: '{version}'
#  assembly_informational_version: '{version}'

nuget:
  project_feed: true
  disable_publish_on_pr: true


#---------------------------------#
#       tests configuration       #
#---------------------------------#

test_script:
  - ps: '&"$($env:APPVEYOR_BUILD_FOLDER)\packages\xunit.runner.console*\tools\xunit.console.exe" "$($env:APPVEYOR_BUILD_FOLDER)\SharpEssentials.Tests.Unit\bin\$($env:CONFIGURATION)\SharpEssentials.Tests.Unit.dll" -parallel none -appveyor'


#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  - path: '**\$(APPVEYOR_PROJECT_NAME).*.nupkg'


#---------------------------------#
#     deployment configuration    #
#---------------------------------#

deploy:
  # Deploying to NuGet feed
#  - provider: NuGet
#    server: https://my.nuget.server/feed
#    api_key:
#      secure: 
#    skip_symbols: false
#    symbol_server: https://your.symbol.server/feed
#    artifact: MyPackage.nupkg